@import "tailwindcss";

:root {
    --background: #282b30;
    --foreground: #ffffff;
    --discord-blurple: #7289da;
    --discord-blurple-hover: #5f7be4;
    --discord-gray-1: #424549;
    --discord-gray-2: #36393e;
    --discord-gray-3: #282b30;
    --discord-gray-4: #1e2124;
    --discord-white: #ffffff;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-jetbrains-mono);
    --font-mono: var(--font-jetbrains-mono);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-jetbrains-mono), monospace;
}

html {
    scroll-behavior: smooth;
}
